@import url('https://fonts.cdnfonts.com/css/montserrat');
@import "~bootstrap/dist/css/bootstrap.css";

.heroi-tabela {
    margin-top: 10px;
    border-top: 2px solid #e21a1a;
    border-bottom: 2px solid #ffffff;
}

.heroi-titulo {
    white-space: nowrap;
    color: white;
    padding: 10px 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-top: 2px solid #ffffff;
}

.heroi-info {
    white-space: nowrap;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-left: 150px;
}

.heroi-detalhes {
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: aqua;
}

.heroi-imagem {
    display: flex;
    width: 100px;
    flex-direction: column;
}

.heroi-imagem span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-wrap: nowrap;
}

.heroi-comics,
.heroi-series,
.heroi-events,
.heroi-stories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.heroi-comics th,
.heroi-series th,
.heroi-events th,
.heroi-stories th {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-wrap: nowrap;
    border: 2px solid #ffffff;
    width: 90%;
    background-color: #250902;
    color: white;
    text-align: center;
}

.heroi-comics td,
.heroi-series td,
.heroi-events td,
.heroi-stories td {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-wrap: nowrap;
    border: 2px solid #ffffff;
    width: 90%;
    background-color: #38040E;
    color: white;
    text-align: center;
}



.scroll {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 70vh;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1%;
    width: 100%;
    overflow-y: hidden;
    max-height: 50vh;
    margin-bottom: 2%;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 8px;
}

th {
    background-color: #640D14;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.i_personagem {
    border: 2px solid #FF5858;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-top: 2%;
    padding: 0;
    text-indent: 15px;
    font-family: 'Motiva Sans', sans-serif;
}

.i_personagem:focus {
    outline: 0;
    border: 2px solid #000000;
}

.submit {
    display: flex;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    font-family: 'Motiva Sans', sans-serif;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    margin-top: 1%;
    font-weight: bold;
    background-color: #250902;
    margin-left: auto;
}

.submit:hover {
    background-color: #800E13;
}

.descricao {
    text-wrap: wrap;
}

.btnDetalhes {
    display: flex;
    margin-left: 25px;
    border: 2px solid #000000;
    border-radius: 30px;
    background-color: #ffffff;
    cursor: pointer;
}

.collapse {
    display: none;
}

.collapse.show {
    display: table-row;
}

::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgb(177, 78, 78);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}



@media only screen and (max-width: 768px) {
    .heroi-tabela {
        margin-top: 5px;
        border: none;
    }

    .heroi-titulo,
    .heroi-info {
        padding: 5px;
        font-size: 14px;
        text-align: center;
    }

    .heroi-imagem {
        width: 50px;
    }

    .heroi-imagem span {
        font-size: 12px;
    }

    .heroi-comics th,
    .heroi-series th,
    .heroi-events th,
    .heroi-stories th,
    .heroi-comics td,
    .heroi-series td,
    .heroi-events td,
    .heroi-stories td {
        font-size: 12px;
        padding: 5px;
    }

    .scroll, table {
        max-height: 40vh;
        overflow-x: scroll;
        table-layout: fixed;
    }

    th,
    td {
        min-width: 100px;
        word-wrap: break-word;
        overflow-wrap: anywhere;
        white-space: nowrap;
        font-size: 10px;
        overflow-x: auto;
        text-overflow: clip;
    }

    .i_personagem {
        height: 30px;
        margin-top: 1%;
        font-size: 12px;
    }

    .submit {
        height: 25px;
        font-size: 12px;
        margin-top: 1%;
    }

    .btnDetalhes {
        margin-left: 15px;
        border-radius: 20px;
    }

    .collapse {
        display: block;
    }

    
}