<div class="form">
    <div>
        <input type="text" class="i_personagem" placeholder="Herói" [(ngModel)]="nomeHeroi">
    </div>
    <button class="submit" (click)="buscarHeroi(nomeHeroi)">Buscar</button>
</div>

<div class="scroll">
    <table>
        <thead>
            <tr>
                <th scope="col" class="heroi-titulo">Última Modificação</th>
                <th scope="col" class="heroi-titulo">ID</th>
                <th scope="col" class="heroi-titulo">Nome</th>
                <th scope="col" class="heroi-titulo">Detalhes</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let heroi of dadosMarvel; let i = index">
                <tr>
                    <td class="heroi-info">{{heroi.modified}}</td>
                    <td class="heroi-info">{{heroi.id}}</td>
                    <td class="heroi-info">{{heroi.name}}</td>
                    <td class="heroi-info">
                        <button class="btnDetalhes" type="button" data-toggle="collapse"
                            [attr.data-target]="'#collapseRow' + i" aria-expanded="false"
                            [attr.aria-controls]="'collapseRow' + i" (click)="mostrarDetalhes(i)">
                            +
                        </button>
                    </td>
                </tr>

                <tr class="collapse" id="collapseRow{{i}}">
                    <td [attr.colspan]="4">
                        <div class="heroi-imagem">
                            <span>Imagem do Heroi</span>
                            <img src="{{ heroi.thumbnail.path + '/portrait_xlarge.' + heroi.thumbnail.extension}}" alt="">
                        </div>
                        <div class="heroi-comics">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Quadrinhos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let comic of heroi.comics.items">
                                        <td>{{comic.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                        <div class="heroi-series">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Séries</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let serie of heroi.series.items">
                                        <td>{{serie.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="heroi-stories">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Histórias</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let story of heroi.stories.items">
                                        <td>{{story.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="heroi-events">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Eventos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let event of heroi.events.items">
                                        <td>{{event.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>