<div class="header">
    <span id="marvelLogo"></span>
    <div class="form">
        <div class="form-search">
            <input type="text" class="i_personagem" placeholder="Procure um herói (em inglês)" (keydown.enter)="buscarHeroi.emit(nomeHeroi)" [(ngModel)]="nomeHeroi" >
            <span class="material-symbols-outlined" id="search" (click)="buscarHeroi.emit(nomeHeroi)">search</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="searchBox">
        <app-table-marvel></app-table-marvel>
    </div>
</div>