@import url('https://fonts.cdnfonts.com/css/motiva-sans');
.header{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    font-family: 'Motiva Sans', sans-serif;
    background-color: #ED1D24;

}

#marvelLogo{
    display: flex;
    width: 150px;
    height: 60px;
    margin-top: 1%;
    background-size: 100%;
    background-image: url(../../assets/Marvel_Logo.svg.png);
    background-repeat: no-repeat;
}
.container{
    display: flex;
    height: 90vh;
    width: 100%;
    background-color: #ED1D24;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBox{
    display: flex;
    background-color: #640D14;
    width: 90%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .header {
        height: 8vh;
    }

    #marvelLogo {
        width: 120px;
        height: 48px;
        margin-top: 2%;
    }

    .container {
        height: 92vh;
    }

    .searchBox {
        width: 95%;
        height: 50%;
    }
}